/* html{
  background-color: rgb(0, 0, 0);
}
body { 
  background: url(https://pavbca.com/walldb/original/8/3/8/167611.jpg) no-repeat center center fixed; 
  -o-background-size: cover;
  background-size: auto;
} */
html{
  background: radial-gradient( #ffffff 50%, #a5a5a5 60%, #505050 100%);
  background-attachment: fixed;
  top: 200px;
}
.cards-container {
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 75px;
  z-index: 1;
  left: 25%;
}

.item-card {
  position: relative;
  border: 1px solid rgb(87, 116, 143);
  background-color: white;
  padding: 15px 15px 60px ;
  box-shadow: 5px 10px 10px darkgrey;
  height: 350px;
  width: 250px;
  text-align: center;
}

/* PRICE TAG */
.item-card span{
  position: relative;
  right: 105px;
  bottom: 25px;
  font-family: "Papyrus";
  font-size: larger;
  text-shadow: 
  0 0 3px rgb(0, 0, 0),
  0 0 3px rgb(255, 255, 255),
  0 0 3px rgb(255, 255, 255),
  0 0 3px rgb(255, 255, 255),
  0 0 3px rgb(255, 255, 255),
  0 0 3px rgb(255, 255, 255),
  0 0 5px rgb(255, 255, 255),
  0 0 5px rgb(255, 255, 255),
  0 0 5px rgb(255, 255, 255);
}

.item-image{
  width: 245px;
  height: 150px;
  object-fit: cover;
  border: 1px solid darkgrey;
}

#loginFormBox{
  position: fixed;
  top: 250px;
  background: linear-gradient(180deg, #7a7a7a, #e4e4e4, #7a7a7a);
  width: 400px;
  height: 100px;
  border-color: black;
  border-radius: 10px;
  left: 40%;
}

#loginForm{
  position: absolute;
  width: 100%;
  left: 40%;
  top: 40%;
}

#loginBttn{
  position: absolute;
  width: 20%;
  bottom: 6px;
  right: 6px;
}

#loginPrompt{
  text-align: center;
}


#header{
  top: 0px;
  position: sticky;
  top:0;
  background: url(https://pavbca.com/walldb/original/8/3/8/167611.jpg) no-repeat center center fixed;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  z-index: 4;
  height: 150px;
}
h1{
  color: #ffffff;
  text-shadow: 
  0 0 5px rgb(0, 0, 0),
  0 0 5px rgb(0, 0, 0);
}
.tab-home{
  position: sticky;
  top:0;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background: transparent;
  width: 25%;
  left: 53%;
}
.tab{
  position: relative;
  color: white;
  top: 40px;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 40px;
  font-family: "Papyrus";
  font-size: 30px;
  font-weight: 1000px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.7);
}

.tab:hover{
  background-color: black;
  border-style: outset;
  border-color: #707070; 
}

.login-tab{
  position: relative;
  top: -5px;
  left: 47%;
  background: linear-gradient(180deg, #c9c9c9, #e7e7e7, #c9c9c9);
  border: none;
  width: 100px;
  height: 40px;
  font-family: "Papyrus";
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  border-color: #d3d3d3; 
}
.login-tab:hover{
  background: linear-gradient(180deg, #7a7a7a, #e4e4e4, #7a7a7a);
  border-color: #adadad; 
}

.login-tab-else{
  position: absolute;
  top: 98px;
  left: 88%;
  background: linear-gradient(180deg, #c9c9c9, #e7e7e7, #c9c9c9);
  border: none;
  width: 120px;
  height: 40px;
  font-family: "Papyrus";
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  border-color: #d3d3d3; 
}

.login-tab-else:hover{
  background: linear-gradient(180deg, #7a7a7a, #e4e4e4, #7a7a7a);
  border-color: #adadad; 
}

.search-button{
  position: absolute;
  left: 740px;
  background: linear-gradient(180deg, #c9c9c9, #e7e7e7, #c9c9c9);
  border: none;
  width: 100px;
  height: 35px;
  font-family: "Papyrus";
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  border-color: #d3d3d3; 
}

.search-button:hover{
  background: linear-gradient(180deg, #7a7a7a, #e4e4e4, #7a7a7a);
  border-color: #adadad; 
}

.text-box{
  position: absolute;
  left: 450px;
  width: 280px;
  height: 30px;
  border-radius: 5px;
  border-color: #ffffff; 
}

.text-box:hover{
  border-radius: 8px;
  border-color: #bbbbbb; 
}

.ui-large-fluid-icon-input{
  position: fixed;
  width: 40%;
  top:105px;
  background-color: #9c2d49;
  z-index: 4;
}



.edit-form{
  position: relative;
  background: linear-gradient(180deg, #c9c9c9, #e7e7e7, #c9c9c9);
  border-radius: 2px;
  border-style: dotted;
  border-color: rgb(255, 0, 51);
  bottom: 355px;
  height: 400px;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: 100;
}
@keyframes blinking {
  1% {
    border-color: #e5ff00;
  }
}

label{
  font-family: "fantasy";
  font-weight: 500px;
}