.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  z-index: 1;
}

.item-card {
  position: relative;
  left: 25%;
  border: 1px solid rgb(87, 116, 143);
  background-color: white;
  padding: 15px 15px 60px ;
  box-shadow: 5px 10px 10px darkgrey;
  height: 350px;
  width: 250px;
  text-align: center;
}

.item-card span{
  position: relative;
  right: 105px;
  bottom: 25px;
}

.item-image{
  width: 245px;
  height: 150px;
  object-fit: cover;
  border: 1px solid darkgrey;
}

.item-card span {
  background-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header{
  position: sticky;
  top:0;
  background-color: #9c2d49;
  text-align: center;
  z-index: 2;
  box-shadow: 5px 5px 5px rgb(128, 128, 128);
}

#loginFormBox{
  position: fixed;
  background: linear-gradient(180deg, #8f1a378e 0%, #8f1a37 60%, #8f1a37 100%);
  width: 400px;
  height: 100px;
  left: 35%;
  border-color: black;
  border-radius: 10px;
}

#loginForm{
  position: absolute;
  width: 100%;
  left: 40%;
  top: 40%;
}

#loginBttn{
  position: absolute;
  width: 20%;
  bottom: 6px;
  right: 6px;
}

#loginPrompt{
  text-align: center;
}
